#profile-menu {
  position: absolute;
  right: 14px;
  padding-top: 2px;
}

#profile {
  display: flex;
}

#name {
  text-align: start;
  padding: 0;
}

#name + p {
  padding: 0;
}

#info {
  margin-left: 10px;
}

#item-mi-perfil {
  margin: 10px 0 10px 38px;
}

#item-mi-perfil > a {
  text-decoration: none;
  font-weight: 700;
  color: #4E169D;
}

#perfil-inactivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

#img-perfil-inactivo {
  width: 25px;
}

#logout {
  font-weight: 700;
  color: black;
  padding: 0;
  margin: 0;
}