.expanded-card > .expanded-card-dialog {
  width: 328px;
  height: 584px;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

.expanded-card-dialog > .expanded-card-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.expanded-card-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 328px;
  height: 584px;
  border-radius: 16px;
  padding: 8px;
  background-color: #eaeaea;
}

.expanded-card-header {
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.expanded-card-close-button {
  width: 24px;
  height: 24px;
}

.expanded-card-inner-wrapper {
  max-width: 304px;
  height: 248px;
  margin-top: 8px;
}

.category-img-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 164px;
}

.expanded-card-category-container {
  width: 96px;
  padding: 3px 20px;
  border: 1px solid #00a364;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  box-sizing: border-box;
}

.expanded-card-category {
  margin: 0;
  padding: 0;
}

.expanded-card-img {
  width: 100%;
  height: 128px;
  object-fit: cover;
  margin: 0px;
  border-radius: 16px;
  border-top-right-radius: 0px;
}

.expanded-card-data-container {
  margin-top: 8px;
  padding: 0 8px;
  max-width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
}

.expanded-card-location-container {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.location-icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.expanded-card-desc-container {
  max-width: 304px;
  margin-top: 24px;
  height: 260px;
  padding: 8px 0;
}

.expanded-card-description {
  max-width: 100%;
  height: 140px;
  text-align: center;
}

.expanded-card-contact-container {
  margin-top: 24px;
  max-width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.social-media-icons-container {
  margin-top: 8px;
  max-width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.social-media {
  width: 64px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  color: #4e169d;
}

.social-media-title {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
