.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #FAFAFA; /* Podrías usar el color que desees */
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 28px;
 }

 .buttonAceptar{
    width: 75px;
    height: 40px;
    border-radius: 100px;
    gap:8px;
}



.containerButtonAceptar{
    display: flex;
    justify-content: end;
    width: 100%;
}



.parrafoContainer{
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.borderIcon{
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: #B86B11;
    border-radius: 100px;

}
.borderIconError{
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: #BC1111;
    border-radius: 100px;

}
.borderIconSucces{
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: #1D9129;
    border-radius: 100px;

}
.containerIcon{
    display:flex;
    justify-content: center;
    width: 100%;
}

.subParrafoContainer{
    width: full;
    justify-content: start;
}
.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}