@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}
